body {
  background: #f8fafc;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #0f172a;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/*
===============
Navbar
===============
*/

.navbar {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-center {
  display: flex;
  align-items: center;
  width: 90vw;
  max-width: 1120px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-right: 2rem;
  height: auto;
}
.nav-logo {
  display: flex;
  align-items: flex-end;
}

.nav-btn {
  display: none;
}
.nav-links {
  height: auto !important;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.nav-link {
  text-align: center;
  text-transform: capitalize;
  color: #0f172a;
  letter-spacing: 1px;
  padding: 0;
  border-top: none;
  margin-right: 1rem;
  font-size: 1rem;
}

.nav-header img {
  width: 200px;
}

/* Page */

.page {
  width: 90vw;
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 2rem;
  min-height: calc(100vh - (6rem + 4rem));
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
  grid-template-columns: 1fr 1fr;
}

.recipe {
  display: block;
}
.recipe-img {
  height: 15rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.recipe h5 {
  margin-bottom: 0;
  margin-top: 0.25rem;
  line-height: 1;
  color: #334155;
}
.recipe p {
  margin-bottom: 0;
  line-height: 1;
  color: #64748b;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

/* Hero*/

.hero {
  height: 40vh;
  position: relative;
  margin-bottom: 2rem;
  background: url('../img/hero-img.png') center/cover no-repeat;
  border-radius: 0.25rem;
}

.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
}

.hero-text {
  color: white;
  text-align: center;
}

/* Footer */
.page-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
}
.page-footer p {
  margin-bottom: 0;
}
